body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    color: #201C1B;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}

    body.show-menu {
        transform: translateX(300px);
        -webkit-transform: translateX(300px);
    }

header {
    background: #375764;
}

    header + div {
        min-height: 1000px;
    }

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    display: inline-block;
}

input {
    font-size: 20px;
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

    button:focus {
        outline: 0;
    }

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

b {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 28px;
}

input:focus, button:focus {
    outline: 0;
}

p.vote-count.count.num-of-likes {
    color: #26AEDA;
    float: left;
    margin-right: 10px;
    margin-top: 18px;
    line-height: 0;
}
.fb-like {
    float: right;
}

.nav-prev, .nav-next {
    width: 40px;
    height: 40px;
    border: 1.5px solid #0B7182;
    background: url(/img/icon/left-1.png) no-repeat center center;
    font-size: 0;
    margin: 0 3px;
}
.nav-next {
    transform: rotate(180deg);
}

@media screen and (max-width: 992px) {
    b {
        font-size: 20px;
    }
}

.img-bg {
    width: 100%;
}

.container {
    width: 1366px;
    margin: auto;
    max-width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
}

@media screen and (max-width: 640px) {
    .container {
        padding: 0 20px;
    }
}

.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}

.video-livestream {
    text-align: center;
    width: 48%;
    float: left;
    margin-top: 50px;
}

    .video-livestream h3 {
        font-size: 25px;
        font-family: 'Roboto Light', sans-serif;
        color: #333;
        padding: 50px 0 20px 0;
    }
/* COLOR */
.color-1 {
    color: #0B7182;
}

.color-2 {
    color: #CC0000;
}
/* FONT FACE */
@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/RobotoCondensed-Light_0.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../fonts/RobotoCondensed-Bold_0.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../fonts/RobotoCondensed-Regular_0.ttf');
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/MYRIADPRO-REGULAR_1.ttf');
}

@font-face {
    font-family: 'Have-Heart-One';
    src: url('../fonts/VL_HaveHeartOne_0.ttf');
}

@font-face {
    font-family: 'SVN-Steady';
    src: url('../fonts/SVN-Steady.ttf');
}
/* HEADER */
header {
    padding: 25px 30px 15px;
    background: url('../img/general/header-bg.jpg') no-repeat 0 0;
    background-size: 100% 100%;
    background-color: #92D2DA;
}

    header .logo {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        top: 0;
    }

    header ul {
        text-align: center;
        border: 1px solid #2BB3DD;
        display: inline-block;
        margin-right: 20px;
    }

        header ul li a {
            font-family: 'Helvetica', sans-serif;
            color: #fff;
            text-decoration: none;
            padding: 25px 15px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            font-size: 18px;
        }

        header ul li.active a {
            background: #2BB3DD;
        }

        header ul .home-menu:first-child a {
            padding-left: 85px;
        }

        header ul li .ic-home {
            position: absolute;
            top: 13px;
            left: 25px;
        }

    header img {
        vertical-align: top;
    }

    header .login {
        display: inline-block;
        vertical-align: top;
        cursor: pointer;
        position: relative;
        top: -5px;
    }

        header .login .tt {
            display: block;
            margin-top: 5px;
            text-transform: uppercase;
            color: #fff;
        }

        header .login img {
            padding: 0 8px;
        }

        header .login .avatar-img, header .login-mobile .avatar-img {
            border-radius: 50%;
            margin-left: -5px;
        }

    header .login-mobile .avatar-img {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    header .login .status {
        position: absolute;
        top: 0;
        left: 85px;
        background: #209bbd;
        padding: 5px;
        font-size: 13px;
        line-height: 1.2;
        width: 120px;
        border-radius: 2px;
        box-shadow: 0 0 25px #166980;
        opacity: 0;
        visibility: hidden;
        text-align: center;
    }

    header .login:hover .status {
        opacity: 1;
        visibility: visible;
    }

    header .login .status::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-right: 10px solid #209bbd;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    header .login .status p {
        margin: 6px 0;
        color: #fff;
        opacity: 0.6;
        font-size: 14px;
        font-family: 'Helvetica', sans-serif;
    }
    /* Nav mobile */
    header .login .gr-button {
        margin: 2px 0 5px;
        padding: 0;
        border: 0;
    }

        header .login .gr-button li a {
            padding: 0;
            margin: 0 8px;
            font-size: 13px;
            opacity: 0.8;
            text-decoration: underline;
            width: auto;
        }

            header .login .gr-button li a:hover {
                opacity: 1;
            }

    header .login .gr-btn-guianh {
        position: absolute;
        left: 0;
        margin-top: 5px;
        z-index: 2;
    }

        header .login .gr-btn-guianh .dropdown {
            margin: 0;
        }

        header .login .gr-btn-guianh .dropdown-menu {
            margin: 0;
            border: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            -webkit-transition: 0.4s;
        }

            header .login .gr-btn-guianh .dropdown-menu li {
                margin-top: 1px;
            }

                header .login .gr-btn-guianh .dropdown-menu li a {
                    padding: 0 0 0 5px;
                    margin: 0;
                    font-size: 0;
                    line-height: 0;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                }

                    header .login .gr-btn-guianh .dropdown-menu li a:hover {
                        opacity: 0.8;
                    }

            header .login .gr-btn-guianh .dropdown:hover + .dropdown-menu,
            header .login .gr-btn-guianh .dropdown-menu:hover {
                opacity: 1;
                visibility: visible;
            }

    /* Nav desktop */
    header #nav > li.dropdown {
        position: relative;
        margin-top: 0;
    }

        header #nav > li.dropdown > ul.dropdown-menu {
            display: none;
            position: absolute;
            left: 0;
            padding: 0;
            margin: 0;
            background: url('../img/general/header-bg.jpg') no-repeat 0 0;
            background-color: #92D2DA;
            width: 120px;
        }

            header #nav > li.dropdown > ul.dropdown-menu li:first-child {
                border-bottom: 1px solid #6db8c2;
            }

            header #nav > li.dropdown > ul.dropdown-menu li a {
                padding: 15px 10px;
            }

            header #nav > li.dropdown > ul.dropdown-menu li:hover a {
                color: #ddd;
            }

        header #nav > li.dropdown:hover > ul.dropdown-menu {
            display: block;
            z-index: 999;
            opacity: 0.9;
        }

    header .logo-hoanmy {
        display: inline-block;
        float: right;
        margin-top: 20px;
    }
    /* Gui Bai Thi Anh */
    header .login .gr-btn-guianh {
        position: absolute;
        left: 0;
        margin-top: 5px;
        z-index: 2;
    }

        header .login .gr-btn-guianh .dropdown {
            margin: 0;
        }

        header .login .gr-btn-guianh .dropdown-menu {
            margin: 0;
            border: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            opacity: 0;
            visibility: hidden;
            transition: 0.4s;
            -webkit-transition: 0.4s;
        }

            header .login .gr-btn-guianh .dropdown-menu li {
                margin-top: 1px;
            }

                header .login .gr-btn-guianh .dropdown-menu li a {
                    padding: 0 0 0 5px;
                    margin: 0;
                    font-size: 0;
                    line-height: 0;
                    transition: 0.4s;
                    -webkit-transition: 0.4s;
                }

                    header .login .gr-btn-guianh .dropdown-menu li a:hover {
                        opacity: 0.8;
                    }

            header .login .gr-btn-guianh .dropdown:hover + .dropdown-menu,
            header .login .gr-btn-guianh .dropdown-menu:hover {
                opacity: 1;
                visibility: visible;
            }
/* Menu Responsive */
.sp {
    display: none;
}

header .ic-menu {
    position: absolute;
    left: 20px;
    top: 12px;
    z-index: 2;
    cursor: pointer;
}

header .menu-sp {
    position: fixed;
    height: 100%;
    width: 300px;
    top: 0;
    left: 0;
    padding: 0;
    background: #26AED9;
    z-index: 10;
    padding: 9px 0;
    overflow-y: scroll;
    transform: translateX(-100%);
}

    header .menu-sp ul {
        width: 100%;
        border: 0;
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

        header .menu-sp ul p {
            color: #fff;
            padding: 0 10px 0 26px;
            font-size: 15px;
        }

    header .menu-sp li {
        display: block;
        text-align: left;
        padding: 0;
        border-bottom: 1px solid #fff;
    }

        header .menu-sp li:last-child,
        header .menu-sp .bt0 {
            border-bottom: 0;
        }

        header .menu-sp li a {
            padding: 18px 0 18px 70px;
            font-weight: 300;
        }

            header .menu-sp li a img {
                width: 30px;
                left: 20px;
            }

    header .menu-sp .login {
        display: block;
        text-align: center;
        margin: 20px 0 10px;
        font-weight: 300;
        font-size: 18px;
    }

        header .menu-sp .login img {
            width: 60px;
        }

        header .menu-sp .login a {
            color: #fff;
        }

        header .menu-sp .login p {
            margin: 10px 0 5px;
        }

        header .menu-sp .login .status-sp {
            font-size: 15px;
            color: #fff;
            display: inline-block;
            font-family: 'MyriadPro';
            margin-top: 0;
            padding-top: 2px;
        }

            header .menu-sp .login .status-sp a {
                color: #ED1C24;
            }

    header .menu-sp .social-sp {
        text-align: center;
        margin-top: 25px;
    }

        header .menu-sp .social-sp img {
            display: block;
            margin: 0 auto 8px;
        }

        header .menu-sp .social-sp a {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
        }

    header .menu-sp .links-sp {
        text-align: center;
        margin-top: 30px;
    }

        header .menu-sp .links-sp img {
            display: block;
            margin: 0 auto 8px;
        }

        header .menu-sp .links-sp a {
            color: #fff;
            font-weight: 300;
            font-size: 15px;
            margin-top: 5px;
            display: inline-block;
        }

    header .menu-sp .send span {
        color: #fff;
        text-transform: uppercase;
        padding: 18px 0 4px 25px;
        background: #EF4B54;
        cursor: pointer;
        display: block;
    }

    header .menu-sp .send img {
        width: 30px;
        position: relative;
        top: -8px;
        margin-right: 15px;
    }

    header .menu-sp .send .dropdown-menu li {
        background: #71D3EA;
    }

        header .menu-sp .send .dropdown-menu li a {
            padding: 10px 0 7px 25px;
        }

        header .menu-sp .send .dropdown-menu li img {
            width: 20px;
            top: -2px;
            left: 10px;
        }


@media screen and (max-width: 1700px) {
    header ul li a {
        font-size: 17px;
    }

    header .login .tt {
        font-size: 13px;
    }
}

@media screen and (max-width: 1630px) {
    header .logo-hoanmy img {
        width: 270px;
    }

    header ul li a {
        padding: 20px 10px;
    }

    header .logo {
        top: 0;
    }

    header ul li .ic-home {
        width: 35px;
        left: 15px;
    }

    header ul .home-menu:first-child a {
        padding-left: 55px;
    }
}

@media screen and (max-width: 1540px) {
    header .logo-hoanmy {
        margin-top: 10px;
    }

        header .logo-hoanmy img {
            width: 180px;
        }

    h1.logo img {
        width: 160px;
    }

    header ul li .ic-home {
        left: 10px;
        top: 12px;
        width: 30px;
    }

    .login img {
        width: 45px !important;
        padding-left: 15px !important;
    }
}

@media screen and (max-width: 1410px) {
    header .logo {
        top: 7px;
        margin: 0 20px 0 0;
    }

        header .logo img {
            width: 150px;
        }

    header ul li a {
        padding: 15px 10px;
        font-size: 15px;
    }

    header {
        padding: 20px 15px 10px 15px;
    }
}

@media screen and (max-width: 1366px) {
    header .login {
        top: 0;
    }

        header .login .tt {
            font-size: 11px;
        }

    header .logo-hoanmy {
        margin: 15px 0;
    }

    header .login .gr-btn-guianh .dropdown img {
        width: 180px;
    }

    header .login .gr-btn-guianh .dropdown-menu img {
        width: 175px;
    }

    header ul li .ic-home {
        top: 9px;
    }
}

@media screen and (max-width: 1280px) {
    header .logo {
        margin: 10px 10px 0 0;
        top: 7px;
    }

    header ul .home-menu:first-child a {
        padding-left: 45px;
    }

    header .logo img {
        width: 120px;
    }

    header ul li .ic-home {
        left: 10px;
        top: 11px;
        width: 25px;
    }

    header .login {
        top: 0;
    }

    header .logo-hoanmy {
        margin: 20px 0;
    }

    header .login .status {
        left: 66px;
        top: -5px;
        width: 98px;
        padding: 5px;
    }

    header {
        padding: 15px 15px 20px;
    }

        header .login .status p {
            font-size: 13px;
            margin: 3px 0;
        }

        header .login .gr-button li a {
            font-size: 12px;
        }

        header .logo-hoanmy img {
            width: 150px;
        }

        header #nav {
            margin-right: 10px;
        }
}

@media screen and (max-width: 1170px) {
    header {
        padding: 15px 20px;
        text-align: center;
    }

        header ul {
            margin-top: 8px;
        }

        header .dropdown-menu {
            margin-top: 0;
        }

        header ul li a {
            font-size: 15px;
        }

        header .login {
            top: 10px;
        }

        header .logo {
            width: 100%;
            text-align: center;
            margin: 0 0 2px;
        }

            header .logo img {
                width: 130px;
                margin: 0 5px;
            }

                header .logo img.sp {
                    display: inline-block;
                    width: 180px;
                    position: relative;
                    top: 3px;
                }

        header .logo-hoanmy {
            display: none;
        }
}

@media screen and (max-width: 992px) {
    header {
        position: relative;
        padding: 10px 0 15px;
        background: url('../img/general/header-bg-sp.jpg') no-repeat 0 0;
        background-size: 100% 100%;
        box-shadow: 0 0 10px #49a9ca;
    }

    .sp {
        display: inline-block;
    }

    header .logo {
        width: 100%;
        text-align: center;
        margin: 0;
        top: 7px;
    }

        header .logo img.sp {
            width: 160px;
            top: 5px;
            position: relative;
        }

    header ul {
        display: none;
    }

    header .login {
        display: none !important;
    }

    header .logo-hoanmy {
        display: none;
    }

    header ul li.active a {
        background: transparent;
    }

    header ul li.active {
        background: #0B7182;
    }
}

@media screen and (max-width: 640px) {
    header .logo {
        text-align: right;
    }

        header .logo img {
            width: 130px;
        }

            header .logo img.sp {
                width: 150px;
            }
}

@media screen and (max-width: 375px) {
    header .logo {
        padding: 8px 10px;
        box-sizing: border-box;
        line-height: 0;
    }

        header .logo img {
            width: 100px;
        }

            header .logo img.sp {
                width: 120px;
            }

    header .ic-menu {
        left: 10px;
    }
}
/* TITLE */
.tt-01 {
    font-family: 'Have-Heart-One';
    color: #ED2F11;
    font-size: 100px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
}

    .tt-01 span {
        display: inline-block;
    }

    .tt-01 img {
        display: block;
        margin: -25px auto 0;
    }

@media screen and (max-width: 1500px) {
    .tt-01 {
        font-size: 90px;
    }

        .tt-01 img {
            width: 400px;
        }
}

@media screen and (max-width: 1366px) {
    .tt-01 {
        font-size: 80px;
    }

        .tt-01 img {
            width: 350px;
        }
}

@media screen and (max-width: 992px) {
    .tt-01 {
        font-size: 65px;
    }

        .tt-01 img {
            width: 250px;
        }
}

@media screen and (max-width: 768px) {
    .tt-01 {
        font-size: 65px;
    }

        .tt-01 img {
            width: 250px;
        }
}

.tt-02 {
    font-family: 'Have-Heart-One';
    color: #16ADDB;
    font-size: 90px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
}

@media screen and (max-width: 1500px) {
    .tt-02 {
        font-size: 70px;
    }
}

@media screen and (max-width: 1366px) {
    .tt-02 {
        font-size: 60px;
    }
}

@media screen and (max-width: 992px) {
    .tt-02 {
        font-size: 50px;
    }
}

@media screen and (max-width: 768px) {
    .tt-02 {
        font-size: 40px;
    }
}

@media screen and (max-width: 640px) {
    .tt-02 {
        font-size: 35px;
        line-height: 0.8;
        margin-top: 10px;
    }
}

.tt-03 {
    font-family: 'SVN-Steady';
    color: #EF4B54;
    font-size: 65px;
    font-weight: 400;
    line-height: 1.4;
}

.tt-04 {
    font-family: 'Have-Heart-One';
    color: #E01A22;
    font-size: 65px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 3px;
    margin-bottom: 20px;
}

@media screen and (max-width: 1500px) {
    .tt-04 {
        font-size: 60px;
    }
}

@media screen and (max-width: 1366px) {
    .tt-04 {
        font-size: 55px;
    }
}

.tt-05 .tt-label {
    background: #167280;
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    padding: 16px 50px 15px;
    font-size: 25px;
    font-family: 'Roboto Regular', sans-serif;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    letter-spacing: 0.5px;
}

.tt-05-line {
    border-bottom: 5px solid #16ADDB;
}

.tt-05-line-blue-1 {
    border-bottom: 2px solid #167280;
}

    .tt-05-line-blue-1 .tt-label {
        background: #167280;
    }

.tt-05-line-blue-2 {
    border-bottom: 2px solid #16ADDB;
}

    .tt-05-line-blue-2 .tt-label {
        background: #16ADDB;
    }

.tt-05 .tt-05-sub {
    font-family: 'Have-Heart-One';
    font-size: 75px;
    font-weight: 400;
    line-height: 0.8;
    display: inline-block;
    letter-spacing: 5px;
    color: #EA3022;
    transform: rotate(-2deg);
}

    .tt-05 .tt-05-sub img {
        display: block;
        margin: -5px auto 0;
        position: relative;
        left: -8px;
    }

@media screen and (max-width: 1366px) {
    .tt-05 .tt-05-sub {
        font-size: 60px;
    }

        .tt-05 .tt-05-sub img {
            width: 250px;
        }
}

@media screen and (max-width: 992px) {
    .tt-05 .tt-label {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
    .tt-05 .tt-label {
        font-size: 18px;
        padding: 14px 35px 13px;
    }
}

.tt-blue-2 .tt-label {
    background: #16ADDB;
}

.tt-06 {
    font-family: 'Have-Heart-One';
    font-size: 65px;
    font-weight: 400;
    letter-spacing: 2px;
    position: relative;
}

    .tt-06 img {
        position: absolute;
        display: block;
        bottom: -10px;
        left: -50px;
    }

    .tt-06 span {
        position: relative;
        z-index: 1;
    }

@media screen and (max-width: 1366px) {
    .tt-06 {
        font-size: 45px;
    }

        .tt-06 img {
            width: 180px;
        }
}

@media screen and (max-width: 768px) {
    .tt-06 {
        font-size: 45px;
    }

        .tt-06 img {
            width: 180px;
        }
}

.tt-detail {
    font-size: 38px;
    font-family: 'Roboto Bold', sans-serif;
    text-transform: uppercase;
    color: #26AFD8;
}

@media screen and (max-width: 992px) {
    .tt-detail {
        font-size: 28px;
    }
}

@media screen and (max-width: 768px) {
    .tt-detail {
        font-size: 25px;
        line-height: 1.2;
    }
}

.sub-tt {
    font-family: 'Roboto Bold', sans-serif;
    font-size: 36px;
    color: #16ADDB;
    font-weight: 400;
    margin-top: -20px;
    line-height: 1;
}

@media screen and (max-width: 1500px) {
    .sub-tt {
        font-size: 30px;
    }
}

@media screen and (max-width: 1170px) {
    .sub-tt {
        font-size: 27px;
    }
}

@media screen and (max-width: 768px) {
    .sub-tt {
        font-size: 23px;
    }
}

@media screen and (max-width: 520px) {
    .sub-tt {
        font-size: 21px;
    }
}

@media screen and (max-width: 425px) {
    .sub-tt {
        font-size: 19px;
    }
}
/* BUTTON */
.gr-btn {
    clear: both;
}

.gr-btn-right {
    text-align: right;
}

.btn {
    border: 2px solid #0B7182;
    color: #0B7182;
    font-family: 'MyriadPro', sans-serif;
    font-size: 22px;
    font-style: italic;
    padding: 13px 35px 4px;
    display: inline-block;
    margin-top: 20px;
}

    .btn:hover {
        transform: translateZ(0);
        animation: leftToRight 0.4s infinite;
        -webkit-animation: leftToRight 0.4s infinite;
    }

    .btn span {
        vertical-align: top;
        padding: 10px 0;
        display: inline-block;
        margin-left: 10px;
    }

@media screen and (max-width: 1366px) {
    .btn {
        font-size: 20px;
        padding: 13px 15px 4px;
    }

        .btn img {
            width: 35px;
        }

        .btn span {
            padding: 4px 0;
        }
}

@media screen and (max-width: 1170px) {
    .btn {
        font-size: 18px;
        padding: 13px 20px 4px;
    }

        .btn img {
            width: 30px;
        }

        .btn span {
            padding: 4px 0;
        }
}

.btn-blue {
    background: #0B7182;
    color: #fff;
    padding: 12px 70px 0;
    margin-top: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.btn-blue-2 {
    background: #16ADDB;
    border: 1px solid #16ADDB;
}

@media screen and (max-width: 1366px) {
    .btn-blue {
        padding: 3px 35px 0;
    }
}

.btn-line-1 {
    margin-top: 30px;
    border-top: 1px solid #0B7182;
}

.btn-line-2 {
    margin-top: 30px;
    border-top: 1px solid #16ADDB;
}

.btn-send {
    display: block;
    text-align: right;
    margin-top: 10px;
}

    .btn-send button {
        display: inline-block;
    }

    .btn-send span {
        font-size: 25px;
        vertical-align: top;
        font-weight: 300;
        margin-right: 10px;
        position: relative;
        top: 15px;
        color: #58585B;
    }

.btn-login {
    text-align: right;
    display: block;
    margin-top: 50px;
    width: 100%;
}

    .btn-login .btn-content {
        display: inline-block;
        padding: 0;
    }

    .btn-login span {
        font-size: 23px;
        vertical-align: top;
        font-weight: 300;
        color: #e0e0e0;
        padding: 6px 38px 8px;
        border-radius: 15px;
        background: linear-gradient(to right, #FC3264, #FC5744);
    }

@media screen and (max-width: 1366px) {
    .btn-login span {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .btn-login {
        margin-top: 30px;
    }

        .btn-login button {
            width: 100%;
        }

        .btn-login span {
            width: 100%;
            display: block;
            box-sizing: border-box;
            padding: 15px 38px 13px;
            text-align: center;
            color: #fff;
        }
}
/* IMAGES */
.images {
    position: relative;
    /*line-height: 0;*/
}

    .images a {
        line-height: 0;
        font-size: 0;
    }
/* Margin */
.mt12 {
    margin-top: 12px;
}

.mb12 {
    margin-bottom: 12px;
}
/* Input File */
.box-inputfile {
    text-align: right;
    margin-top: 20px;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

    .inputfile + label {
        max-width: 80%;
        font-size: 22px;
        font-weight: 700;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
        padding: 10px 30px 5px;
        font-weight: 300;
        letter-spacing: 1px;
        border-radius: 15px;
    }

    .inputfile:focus + label,
    .inputfile.has-focus + label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
    }

.inputfile-1 + label {
    color: #fff;
    background-color: #4CBEE0;
}

    .inputfile-1:focus + label,
    .inputfile-1.has-focus + label,
    .inputfile-1 + label:hover {
        background-color: #722040;
    }
/* List Images */
.list-body {
    padding: 70px 40px;
}

@media screen and (max-width: 1366px) {
    .list-body {
        padding: 20px 15px;
    }
}

@media screen and (max-width: 1170px) {
    .list-body {
        padding: 20px 15px 0;
    }
}

.list-element {
    display: grid;
    grid-template-columns: repeat(2,49.5%);
    grid-column-gap: 1%;
    padding: 0;
}

.bg-blue-1 {
    background: #167280;
}

.bg-blue-2 {
    background: #16ADDB;
}

.list-element .element {
    position: relative;
    display: block;
    overflow: hidden;
    line-height: 0;
}

    .list-element .element .photo {
        width: 100%;
    }

    .list-element .element .info {
        position: absolute;
        bottom: -30px;
        top: auto;
        left: 0;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 115px;
        box-sizing: border-box;
        text-align: left;
        padding: 10px 10px 8px;
        transition: 0.3s;
        -webkit-transition: 0.3s;
    }

    .list-element .element:hover > .info {
        bottom: -4px;
    }

    .list-element .element .info h6 {
        color: #fff;
        font-family: 'Roboto Regular', sans-serif;
        text-align: left;
        display: inline-block;
        text-transform: uppercase;
        vertical-align: top;
    }

    .list-element .element .info .avatar img {
        width: 45px;
        display: block;
        margin: 0 auto 7px;
        border-radius: 50%;
    }

    .list-element .element .info .avatar span {
        font-size: 9px;
        color: #16ADDB;
        display: inline-block;
        margin-top: 8px;
    }

    .list-element .element .info .name {
        font-size: 14px;
        letter-spacing: 0.5px;
        margin-top: 5px;
        margin-left: 5px;
    }

        .list-element .element .info .name span {
            display: block;
        }

        .list-element .element .info .name .tt {
            line-height: 1;
        }

        .list-element .element .info .name .date {
            font-family: 'Roboto Light', sans-serif;
            font-weight: 400;
            margin-top: 5px;
            line-height: 1.2;
        }

    .list-element .element .info .author {
        float: left;
    }

    .list-element .element .info .list-function {
        float: right;
        margin-top: 10px;
    }

        .list-element .element .info .list-function li img {
            width: 35px;
        }

    .list-element .element .photo-ic {
        position: absolute;
        top: 15px;
        right: 15px;
    }

        .list-element .element .photo-ic img {
            width: 35px;
        }

@media screen and (max-width: 1170px) {
    .list-element {
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 0;
    }

        .list-element .list-element {
            display: grid;
            grid-template-columns: repeat(2, 49%);
            grid-column-gap: 2%;
            margin: 20px 0 !important;
        }

        .list-element .element .info .name .tt {
            font-size: 17px;
        }
}

@media screen and (max-width: 992px) {
    .list-element .pc {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .list-element .list-element {
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 0;
        margin: 0 !important;
    }

    .list-element .element {
        margin-bottom: 20px;
    }

    .list-element .pc {
        display: none;
    }

    .list-element .element .info .name .tt {
        font-size: 20px;
    }
}

@media screen and (max-width: 425px) {
    .list-element .element .info .name {
        margin: 0 0 0 8px;
    }

        .list-element .element .info .name .tt {
            font-size: 15px;
        }

        .list-element .element .info .name .date {
            margin-top: 3px;
        }
}
/* List Blog */
.list-blog-element {
    display: grid;
    grid-template-columns: repeat(3, 31%);
    grid-column-gap: 3.5%;
    padding-bottom: 20px;
}

    .list-blog-element:last-child {
        border-bottom: 0;
    }

    .list-blog-element .info {
        position: relative;
    }

    .list-blog-element .blog-element {
        margin-top: 25px;
    }

        .list-blog-element .blog-element img {
            width: 100%;
        }

        .list-blog-element .blog-element .name {
            margin: 20px 0;
        }

            .list-blog-element .blog-element .name h6 {
                float: left;
                font-weight: 400;
                text-align: left;
            }

                .list-blog-element .blog-element .name h6 span {
                    display: block;
                    font-family: 'Roboto Bold', sans-serif;
                }

                .list-blog-element .blog-element .name h6 .tt > a {
                    font-size: 28px;
                    text-transform: uppercase;
                    color: #26AEDA;
                }

                .list-blog-element .blog-element .name h6 .date {
                    color: #58585B;
                    font-size: 22px;
                    font-family: 'Roboto Regular', sans-serif;
                }

            .list-blog-element .blog-element .name .list-function {
                float: right;
            }

                .list-blog-element .blog-element .name .list-function img {
                    width: 35px;
                }

        .list-blog-element .blog-element p {
            text-align: left;
            font-family: 'Roboto Regular', sans-serif;
            font-size: 22px;
            letter-spacing: 0.1px;
            color: #6D6E70;
            letter-spacing: -0.5px;
        }

        .list-blog-element .blog-element .avatar {
            text-align: left;
        }

            .list-blog-element .blog-element .avatar img {
                width: 45px;
                border-radius: 50%;
            }

            .list-blog-element .blog-element .avatar span {
                display: inline-block;
                vertical-align: top;
                text-transform: uppercase;
                padding: 15px 10px;
                color: #26AEDA;
            }

@media screen and (max-width: 992px) {
    /* Blog Element */
    /* List Blog Element */
    .list-blog .tt-05 {
        text-align: center;
    }

        .list-blog .tt-05 .tt-label {
            font-size: 20px;
        }

    .list-blog-element {
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 0;
    }

        .list-blog-element h4.tt > a {
            color: #fff;
            font-size: 25px;
            font-family: 'Roboto Bold', sans-serif;
            margin: 0 0 15px;
        }

        .list-blog-element .bg-white h4.tt {
            color: #565656;
        }

    .new-blog {
        background: #167280;
    }

    .list-blog-element .blog-element {
        border-bottom: 1px solid #3b8794;
        padding-bottom: 25px;
    }

        .list-blog-element .blog-element:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }

        .list-blog-element .blog-element img {
            width: 50%;
            float: left;
        }

    .list-blog-element .info {
        overflow: hidden;
        padding-left: 20px;
        width: auto;
    }

    .list-blog-element .blog-element .name h6 {
        display: none;
    }

    .list-blog-element .blog-element .avatar {
        position: relative;
        border-bottom: 1px solid #3b8794;
        padding-bottom: 8px;
    }

        .list-blog-element .blog-element .avatar img {
            width: 55px;
        }

        .list-blog-element .blog-element .avatar span {
            font-size: 13px;
        }

        .list-blog-element .blog-element .avatar .date {
            position: absolute;
            bottom: 8px;
            right: 0;
            color: #fff;
            font-family: 'Roboto Light', sans-serif;
            font-size: 17px;
            font-weight: 400;
            padding: 0;
        }

    .list-blog-element .bg-white .avatar .date {
        color: #565656;
    }

    .list-blog-element .blog-element p {
        color: #fff;
        font-size: 18px;
        letter-spacing: 0.1px;
        font-family: 'Roboto Regular', sans-serif;
    }

    .list-blog-element .bg-white {
        border-bottom: 1px solid #b9dcea;
    }

        .list-blog-element .bg-white p {
            color: #565656;
        }

        .list-blog-element .bg-white .avatar {
            border-bottom: 1px solid #b9dcea;
        }

    .control {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    /* List blog element 2 */
    .list-blog-element-2 {
        grid-template-columns: repeat(2, 49%);
        grid-column-gap: 2%;
    }

        .list-blog-element-2 .blog-element {
            border-bottom: 0;
        }

            .list-blog-element-2 .blog-element img {
                width: 100%;
                float: none;
            }

        .list-blog-element-2 .info {
            overflow: initial;
            padding-left: 0;
            margin-top: 20px;
        }

            .list-blog-element-2 .info h4.tt,
            .body-detail-content .list-blog-element .bg-white h4.tt {
                text-align: left;
                font-size: 28px;
                margin: 10px 0 0;
            }

    .list-blog-element .blog-element {
        padding-bottom: 0;
    }

        .list-blog-element .blog-element img {
            width: 100%;
            float: none;
        }

    .list-blog-element .info {
        overflow: initial;
        padding-left: 0;
        margin-top: 20px;
        width: auto;
    }

    .list-blog-element-2 {
        grid-template-columns: repeat(1, 100%);
        grid-column-gap: 0;
    }

    .list-blog-element .blog-element p {
        font-size: 18px;
    }
}

.control {
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

    .control li {
        display: inline-block;
        margin-left: 3px;
    }

    .control .sp {
        display: none;
    }

    .control li button {
        width: 40px;
        height: 40px;
        border: 1px solid #0B7182;
        line-height: 0;
        padding: 5px;
        box-sizing: border-box;
    }

@media screen and (max-width: 992px) {
    .control {
        text-align: center;
    }

        .control li {
            display: none !important;
        }

        .control .sp {
            display: block !important;
        }

        .control li button {
            width: 100%;
            height: auto;
            border: 0 !important;
        }
}
/* Popup */
.popup {
    position: fixed;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    background: linear-gradient(to right, #FF325F, #FF583D);
    border-radius: 5px;
    box-shadow: 0 0 40px #a0a0a0;
    padding: 90px 60px 60px;
    text-align: center;
    display: none;
}

    .popup * {
        color: #fff;
    }

    .popup .btn-close {
        position: absolute;
        right: 20px;
        top: 20px;
        opacity: 0.4;
        transition: 0.2s;
        -webkit-transition: 0.2s;
    }

        .popup .btn-close:hover {
            opacity: 1;
        }

    .popup .text {
        font-size: 30px;
        margin: 0;
        font-family: 'Roboto Bold', sans-serif;
    }

    .popup .gr-btn-popup a {
        text-decoration: none;
        text-transform: uppercase;
        background: #fff;
        display: inline-block;
        padding: 15px 20px;
        font-size: 18px;
        width: 45.5%;
        color: #ff3e54;
        font-weight: 600;
        margin: 30px 2% 0;
        box-sizing: border-box;
        border-radius: 10px;
        font-weight: 500;
    }

@media screen and (max-width: 768px) {
    .popup {
        width: 90%;
        box-sizing: border-box;
        left: 5%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        padding: 50px 30px 30px;
    }

        .popup .text {
            font-size: 22px;
        }

        .popup .gr-btn-popup a {
            width: auto;
            padding: 13px 25px;
            font-size: 16px;
            border-radius: 5px;
        }
}
/* BOX DETAIL */
.box-detail {
    background: #fff;
    border: 1px solid #D6EDF9;
    margin: 50px auto;
    padding: 0;
}

    .box-detail .author {
        background: #26AFD8;
        color: #fff;
        padding: 10px 20px;
    }

        .box-detail .author img {
            border-radius: 50%;
        }

        .box-detail .author span {
            text-transform: uppercase;
            font-family: 'Roboto Light', sans-serif;
            font-size: 20px;
            vertical-align: top;
            position: relative;
            top: 18px;
            left: 10px;
            letter-spacing: 1px;
        }

.box-content {
    padding: 20px 10% 100px;
}

    .box-content .date {
        font-size: 26px;
        color: #26AFD8;
        font-family: 'Roboto Light', sans-serif;
        vertical-align: top;
        position: relative;
        top: 10px;
        margin-right: 10px;
    }

    .box-content ul {
        width: 100%;
        border-bottom: 1px solid #D6EDF9;
        padding-bottom: 10px;
        margin-bottom: 50px;
    }

        .box-content ul li {
            margin: 0 3px;
        }

    .box-content p {
        font-size: 26px;
        font-family: 'Roboto Light', sans-serif;
        line-height: 1.4;
    }

    .box-content .images {
        margin-top: 80px;
    }

        .box-content .images img {
            width: 100%;
            height: auto !important;
        }

        .box-content .images .tt-detail {
            line-height: 1.2;
            font-size: 30px;
            margin: 30px 0;
        }

.list-related .list-element {
    background: #fff;
    border: 1px solid #D6EDF9;
    padding: 25px;
    box-sizing: border-box;
}

.list-related .control {
    text-align: right;
    margin-top: 0;
}

    .list-related .control button {
        background: #26AFD8;
        border: 1px solid #26AFD8;
    }

@media screen and (max-width: 992px) {
    .box-content p {
        font-size: 21px;
    }

    .box-content .images {
        margin-top: 45px;
    }
}

@media screen and (max-width: 768px) {
    .box-content p {
        font-size: 18px;
    }

    .box-content .images {
        margin-top: 30px;
    }

        .box-content .images .tt-detail {
            font-size: 21px;
            margin: 15px 0;
        }
}

@media screen and (max-width: 425px) {
    .box-detail .author {
        width: auto;
        padding: 10px 0 10px 15px;
    }

        .box-detail .author img {
            width: 50px !important;
        }

        .box-detail .author span {
            font-size: 16px;
            padding: 2px 5px !important;
        }

    .box-detail .list-function-sp {
        padding: 10px 10px 0 0 !important;
    }
}
/* COMMENT */
.comment {
    margin: 40px auto 0;
    padding-bottom: 100px;
}

    .comment .tt {
        font-size: 23px;
        color: #26AEDA;
        text-transform: uppercase;
        font-family: 'Roboto Regular', sans-serif;
    }

    .comment .comment-form {
        margin-top: 30px;
    }

        .comment .comment-form input {
            width: calc(100% - 130px);
            height: 100px;
            vertical-align: top;
            margin-left: 20px;
            padding: 25px 40px;
            box-sizing: border-box;
            border: 1px solid #58585B;
        }

            .comment .comment-form input::-webkit-input-placeholder {
                font-size: 25px;
                color: #58585B;
                font-family: 'Roboto Regular', sans-serif;
            }

@media screen and (max-width: 992px) {
    .comment {
        padding-bottom: 30px;
    }

        .comment .comment-form {
            margin-top: 15px;
        }

            .comment .comment-form img {
                display: none;
            }

            .comment .comment-form input {
                width: 100%;
                margin-left: 0;
                background: #DEDCE0;
                border: 0;
                height: 80px;
                padding: 10px 30px;
            }

                .comment .comment-form input::-webkit-input-placeholder {
                    font-size: 20px;
                    color: #000;
                    font-style: italic;
                }
}
/* FOOTER */
footer {
    padding: 40px 0;
    background: url('../img/general/footer-bg.jpg') no-repeat 0 0;
    background-size: 100% 100%;
}

    footer.footer-bg-none {
        background: none;
    }

    footer .container {
        width: 1366px;
        max-width: 100%;
        text-align: center;
    }

    footer .list-logo {
        text-align: center;
    }

    footer .menu {
        margin-top: -50px;
    }

        footer .menu > img {
            vertical-align: middle;
        }

    footer ul {
        text-align: center;
        border: 1px solid #2BB3DD;
        display: inline-block;
        position: relative;
        top: 30px;
        margin-left: 5px;
    }

        footer ul li a {
            font-family: 'Helvetica', sans-serif;
            color: #1BADDA;
            text-decoration: none;
            padding: 25px 30px 20px;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 600;
            position: relative;
            font-size: 17px;
        }

        footer ul .home-menu a {
            padding-left: 85px;
            padding-right: 40px;
            background: #2BB3DD;
            color: #fff;
        }

        footer ul li .ic-home {
            position: absolute;
            top: 8px;
            left: 25px;
        }

    footer .copyright {
        text-align: center;
        color: #2BB3DD;
        font-family: 'Roboto Light', sans-serif;
        font-size: 20px;
        margin-top: 0;
    }

@media screen and (max-width: 1366px) {
    footer .menu > img {
        width: 255px;
    }

    footer ul li a {
        font-size: 15px;
        padding: 20px 30px 15px;
    }

    footer ul li .ic-home {
        width: 35px;
        left: 15px;
    }

    footer ul .home-menu a {
        padding-left: 60px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1170px) {
    footer .menu {
        margin: -10px 0 20px;
    }

        footer .menu > img {
            margin-bottom: 20px;
        }

    footer ul {
        top: 0;
    }
}

@media screen and (max-width: 992px) {
    footer {
        padding: 10px 0;
    }

        footer ul,
        footer .list-logo,
        footer .menu > img {
            top: 0;
            display: none;
        }

        footer .copyright {
            color: #58585B;
        }
}

/* Animation */
@-webkit-keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes leftToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes leftToRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }

    100% {
        transform: translateX(0);
    }
}

/* Search */
.search {
    padding: 30px 0 0;
    width: 1366px;
    margin: auto;
    max-width: 95%;
    position: relative;
    z-index: 1;
}

    .search .container {
        padding: 0;
    }

    .search .list-info {
        text-align: center;
    }

        .search .list-info li {
            display: inline-block;
            margin: 0 15px;
        }

        .search .list-info .phone {
            display: inline-block;
            vertical-align: top;
            margin-right: 16px;
        }

            .search .list-info .phone img {
                position: relative;
                z-index: 1;
                top: -3px;
                width: 40px;
            }

            .search .list-info .phone span {
                color: #1AACDA;
                font-size: 35px;
                font-weight: 300;
                vertical-align: top;
                display: inline-block;
                border-radius: 10px;
                line-height: 1;
                padding: 0 5px 0 30px;
                margin-left: -28px;
            }

                .search .list-info .phone span > a {
                    color: #1AACDA;
                }

        .search .list-info .facebook img {
            margin-top: 0;
            width: 40px;
        }

        .search .list-info .facebook span {
            color: #1AACDA;
            font-size: 22px;
            font-weight: 400;
            vertical-align: top;
            display: inline-block;
            border-radius: 10px;
            line-height: 1;
            padding: 11px 5px 0 33px;
            margin-left: -28px;
            font-family: 'MyriadPro', sans-serif;
        }

        .search .list-info .links {
            margin: 5px 10px;
            vertical-align: top;
        }

            .search .list-info .links a {
                color: #1AACDA;
                font-family: 'MyriadPro', sans-serif;
                font-size: 22px;
                vertical-align: top;
                display: inline-block;
                padding-top: 4px;
            }

            .search .list-info .links img {
                position: relative;
                margin-right: 7px;
                width: 40px;
            }

    .search .search-form {
        margin: 20px auto;
        width: 1010px;
        max-width: 100%;
        position: relative;
    }

        .search .search-form input {
            width: 100%;
            border: 1px solid #808284;
            border-radius: 10px;
            padding: 16px 15px 12px;
            box-sizing: border-box;
        }

            .search .search-form input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: #808284;
                font-size: 28px;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                margin-top: 10px;
            }

        .search .search-form .btn-search {
            background: #1AACDA;
            position: absolute;
            top: 0;
            right: 0;
            padding: 5px 11px 5px 8px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }

@media screen and (max-width: 1366px) {
    .search .list-info .phone span {
        padding: 3px 5px 0 30px;
    }

    .search .list-info .phone img {
        width: 45px;
    }

    .search .list-info .facebook img {
        width: 45px;
    }

    .search .list-info .facebook span {
        font-size: 18px;
        padding: 16px 5px 0 30px;
    }

    .search .list-info .links {
        margin: 8px 10px;
    }

        .search .list-info .links a {
            font-size: 18px;
            padding-top: 7px;
        }

    .search .search-form {
        width: 880px;
    }
}

@media screen and (max-width: 992px) {
    .search {
        max-width: 100%;
        display: none;
    }

        .search .container {
            padding: 0 40px;
        }

        .search .search-form input::-webkit-input-placeholder {
            font-size: 20px;
        }

        .search .search-form input {
            padding: 11px 15px 9px;
        }

        .search .search-form .btn-search {
            padding: 3px 7px 1px 9px;
        }

        .search .list-info {
            float: none;
            width: 100%;
            text-align: center;
            margin-bottom: 10px;
        }

            .search .list-info .facebook,
            .search .list-info .links {
                display: none;
            }

        .search .search-form {
            width: 100%;
            float: none;
            margin: 0 0 15px;
        }
}

@media screen and (max-width: 640px) {
    .search .list-info .phone span {
        font-size: 30px;
    }
}

@media screen and (max-width: 425px) {
    .search .container {
        padding: 0 20px;
    }
}